// Styling for the services section
@import "scss-globals/_variables.scss";
@import "scss-globals/_mixins.scss";

.service-box {
  max-width: 400px;
  margin: 50px auto 0;
  @media (min-width: 992px) {
    margin: 20px auto 0;
  }
  p {
    margin-bottom: 0;
  }
}
