//Styling for the Get-Started area
.list-group {
  padding-bottom: 30px;
  padding-top: 20px;
}

  
.list-group-item {
  @include sans-serif-font;
  background-color: $coolblue;
  font-weight: 700;
  color: white;
  margin: 2px;
  text-transform: uppercase;
  border-width: 1px;
  border-color: $gray-light;
  border-radius: 5px;
}

.alert-success {
  background-color: $theme-primary;
  margin: auto; 
  margin-top: 40px;
  margin-bottom: 40px;
  align-self: center !important;
  text-align: center !important;
  color: white;
  border: none;
  display: table;
  border-radius: 300px;
  @include sans-serif-font;
}